/.github            export-ignore
/tests              export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore
.php-cs-fixer.php   export-ignore
composer.lock       export-ignore -merge
phpstan-rector.neon export-ignore
phpstan.neon        export-ignore
phpunit.xml.dist    export-ignore
rector.php          export-ignore
