includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon
  - phpstan/rules.neon

parameters:
  tmpDir: tmp/phpstan
  paths:
    - src
    - tests
    - rector.php
  level: max
  checkExplicitMixed: true
  excludePaths:
    - %currentWorkingDirectory%/tests/phpstan
  lendable_phpunit:
    enforceStrictMocking:
      pardoned:
        - Tests\Unit\Lendable\PHPUnitExtensions\TestCaseTest
