parameters:
	ignoreErrors:
		-
			rawMessage: 'Call to internal method PHPUnit\Framework\TestCase::registerMockObject() from outside its root namespace PHPUnit.'
			identifier: method.internal
			count: 1
			path: src/TestCase.php

		-
			rawMessage: 'Call to method testCreatedMockObject() of internal interface PHPUnit\Event\Emitter from outside its root namespace PHPUnit.'
			identifier: method.internalInterface
			count: 1
			path: src/TestCase.php

		-
			rawMessage: 'Call to method testDouble() of internal class PHPUnit\Framework\MockObject\Generator\Generator from outside its root namespace PHPUnit.'
			identifier: method.internalClass
			count: 1
			path: src/TestCase.php

		-
			rawMessage: 'Call to static method emitter() of internal class PHPUnit\Event\Facade from outside its root namespace PHPUnit.'
			identifier: staticMethod.internalClass
			count: 1
			path: src/TestCase.php

		-
			rawMessage: Instantiation of internal class PHPUnit\Framework\MockObject\Generator\Generator.
			identifier: new.internalClass
			count: 1
			path: src/TestCase.php

		-
			rawMessage: 'Call to internal method PHPUnit\Framework\TestCase::registerMockObject() from outside its root namespace PHPUnit.'
			identifier: method.internal
			count: 1
			path: tests/rector/Rector/EnforceDisableReturnValueGenerationForTestDoublesRectorTest.php

		-
			rawMessage: 'Call to method testCreatedMockObject() of internal interface PHPUnit\Event\Emitter from outside its root namespace PHPUnit.'
			identifier: method.internalInterface
			count: 1
			path: tests/rector/Rector/EnforceDisableReturnValueGenerationForTestDoublesRectorTest.php

		-
			rawMessage: 'Call to method testDouble() of internal class PHPUnit\Framework\MockObject\Generator\Generator from outside its root namespace PHPUnit.'
			identifier: method.internalClass
			count: 1
			path: tests/rector/Rector/EnforceDisableReturnValueGenerationForTestDoublesRectorTest.php

		-
			rawMessage: 'Call to static method emitter() of internal class PHPUnit\Event\Facade from outside its root namespace PHPUnit.'
			identifier: staticMethod.internalClass
			count: 1
			path: tests/rector/Rector/EnforceDisableReturnValueGenerationForTestDoublesRectorTest.php

		-
			rawMessage: Instantiation of internal class PHPUnit\Framework\MockObject\Generator\Generator.
			identifier: new.internalClass
			count: 1
			path: tests/rector/Rector/EnforceDisableReturnValueGenerationForTestDoublesRectorTest.php

		-
			rawMessage: Access to constant on internal class PHPUnit\Framework\MockObject\ReturnValueNotConfiguredException.
			identifier: classConstant.internalClass
			count: 1
			path: tests/unit/StrictMockingTest.php

		-
			rawMessage: 'Call to internal method PHPUnit\Framework\TestCase::__construct() from outside its root namespace PHPUnit.'
			identifier: method.internal
			count: 1
			path: tests/unit/StrictMockingTest.php

		-
			rawMessage: 'Call to internal method PHPUnit\Framework\TestCase::registerMockObject() from outside its root namespace PHPUnit.'
			identifier: method.internal
			count: 2
			path: tests/unit/StrictMockingTest.php

		-
			rawMessage: 'Call to method testCreatedMockObject() of internal interface PHPUnit\Event\Emitter from outside its root namespace PHPUnit.'
			identifier: method.internalInterface
			count: 2
			path: tests/unit/StrictMockingTest.php

		-
			rawMessage: 'Call to method testDouble() of internal class PHPUnit\Framework\MockObject\Generator\Generator from outside its root namespace PHPUnit.'
			identifier: method.internalClass
			count: 2
			path: tests/unit/StrictMockingTest.php

		-
			rawMessage: 'Call to static method emitter() of internal class PHPUnit\Event\Facade from outside its root namespace PHPUnit.'
			identifier: staticMethod.internalClass
			count: 2
			path: tests/unit/StrictMockingTest.php

		-
			rawMessage: Instantiation of internal class PHPUnit\Framework\MockObject\Generator\Generator.
			identifier: new.internalClass
			count: 2
			path: tests/unit/StrictMockingTest.php

		-
			rawMessage: Access to constant on internal class PHPUnit\Framework\MockObject\ReturnValueNotConfiguredException.
			identifier: classConstant.internalClass
			count: 1
			path: tests/unit/TestCaseTest.php
