<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         cacheResult="false"
         cacheDirectory="tmp/phpunit"
         bootstrap="vendor/autoload.php">
    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="phpstan">
            <directory>./tests/phpstan/</directory>
            <exclude>./tests/phpstan/data/</exclude>
        </testsuite>
    </testsuites>
</phpunit>
