name: "CI"

concurrency:
  group: "ci-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

on:
  merge_group:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  ci:
    name: "Execute (PHP ${{ matrix.php-version }} @ ${{ matrix.dependencies }} deps)"
    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false
      matrix:
        dependencies:
          - "lowest"
          - "highest"
          - "locked"
        php-version:
          - "8.4"
          - "8.5"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683" # v4
        with:
          show-progress: false

      - name: "Install PHP"
        uses: "shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1" # v2
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1

      - name: "Cache Static Analysis Cache Files"
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        if: ${{ matrix.dependencies == 'locked' }}
        with:
          path: ./tmp
          key: ${{ runner.OS }}-${{ matrix.php-version }}-static-analysis-${{ hashFiles('**/composer.lock') }}-${{ github.run_id }}-${{ github.run_number }}
          restore-keys: |
            ${{ runner.OS }}-${{ matrix.php-version }}-static-analysis-${{ hashFiles('**/composer.lock') }}-${{ github.run_id }}
            ${{ runner.OS }}-${{ matrix.php-version }}-static-analysis-${{ hashFiles('**/composer.lock') }}-
            ${{ runner.OS }}-${{ matrix.php-version }}-static-analysis-

      - name: "Update Composer platform version"
        if: ${{ matrix.dependencies != 'locked' && matrix.php-version != '8.4' }}
        shell: bash
        run: "composer config platform.php ${{ matrix.php-version }}"

      - name: "Install dependencies"
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: "Validate Composer dependencies"
        run: "composer validate"

      - name: "Check composer.json normalization"
        run: "composer normalize --dry-run --ansi"

      - name: "Check Composer dependency licenses"
        run: "composer licenses:check"

      - name: "Run coding style"
        if: ${{ matrix.dependencies == 'locked' && matrix.php-version == '8.4' }}
        run: "composer code-style:check"

      - name: "Run PHPStan"
        if: ${{ matrix.dependencies == 'locked' }}
        run: "composer phpstan"

      - name: "Run Rector"
        if: ${{ matrix.dependencies == 'locked' }}
        run: "composer rector:check"

      - name: "Tests"
        run: "composer tests"
