name: "CI"

concurrency:
  group: "ci-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

on:
  merge_group:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  ci:
    name: "Execute (PHP ${{ matrix.php-version }} @ ${{ matrix.dependencies }} deps)"
    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false
      matrix:
        dependencies:
          - "lowest"
          - "highest"
          - "locked"
        php-version:
          - "8.2"
          - "8.3"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955" # v4
        with:
          show-progress: false

      - name: "Install PHP"
        uses: "shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f" # v2
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1

      - name: "Cache Static Analysis Cache Files"
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4
        if: ${{ matrix.dependencies == 'locked' }}
        with:
          path: ./tmp
          key: ${{ runner.OS }}-${{ matrix.php-version }}-static-analysis-${{ hashFiles('**/composer.lock') }}-${{ github.run_id }}-${{ github.run_number }}
          restore-keys: |
            ${{ runner.OS }}-${{ matrix.php-version }}-static-analysis-${{ hashFiles('**/composer.lock') }}-${{ github.run_id }}
            ${{ runner.OS }}-${{ matrix.php-version }}-static-analysis-${{ hashFiles('**/composer.lock') }}-
            ${{ runner.OS }}-${{ matrix.php-version }}-static-analysis-

      - name: "Update Composer platform version"
        if: ${{ matrix.dependencies != 'locked' && matrix.php-version != '8.2' }}
        shell: bash
        run: "composer config platform.php ${{ matrix.php-version }}"

      - name: "Install dependencies"
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: "Validate Composer dependencies"
        run: "composer validate"

      - name: "Check composer.json normalization"
        run: "composer normalize --dry-run --ansi"

      - name: "Check Composer dependency licenses"
        run: "composer licenses:check"

      - name: "Run coding style"
        if: ${{ matrix.dependencies == 'locked' && matrix.php-version == '8.1' }}
        run: "composer code-style:check"

      - name: "Run PHPStan"
        if: ${{ matrix.dependencies == 'locked' }}
        run: "composer phpstan"

      - name: "Run Rector"
        if: ${{ matrix.dependencies == 'locked' }}
        run: "composer rector:check"

      - name: "Tests"
        run: "composer tests"
